.card {
  margin: 0 auto;
  color: #484848;
  border-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  overflow: hidden;
}

.card__header-bg {
  position: relative;
  height: 225px;
  background-repeat: no-repeat;
  background-size: cover;

  &--picture-1 {
    background-image: url("../img/card-bg/1.jpg");
  }

  &--picture-2 {
    background-image: url("../img/card-bg/2.jpg");
  }

  &--picture-3 {
    background-image: url("../img/card-bg/3.jpg");
  }
}

.label-new {
  position: absolute;
  border: 37px solid transparent;
  border-left: 37px solid #add136;
  border-top: 37px solid #add136;
  // border-top-left-radius: 9px;

  &::before {
    position: absolute;
    bottom: 2px;
    right: -8px;
    content: "new";
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
  }
}

.card__content {
  padding: 25px 25px 22px;
  background-color: #f9f9f9;
  border: 2px solid #e5e5e5;
  border-top: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
}

.card__text {
  height: 65px;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.7;
}

.loading-scale {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 20px;
}

.loading-scale__fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #add136;
}

.article-details {
  padding-top: 4px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
}

.article-details__text {
  font-size: 13px;
  color: #8d8d8d;
}

.full-article {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.full-article__link {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: #484848;

  &:after {
    content: "";
    display: block;
    margin-left: 15px;
    border: 8px solid transparent;
    border-left: 8px solid #add136;
  }
}

.card-horizontal {
  display: flex;
  margin: 0 auto;
  color: #484848;
  border-radius: 9px;
  background-color: #f9f9f9;
  border: 2px solid #e5e5e5;
  overflow: hidden;
}

.card-horizontal__header-bg {
  position: relative;
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;

  &--picture-1 {
    background-image: url("../img/card-bg/1.jpg");
  }

  &--picture-2 {
    background-image: url("../img/card-bg/2.jpg");
  }

  &--picture-3 {
    background-image: url("../img/card-bg/3.jpg");
  }
}

.card-horizontal__content {
  padding: 25px 25px 22px;
  width: 70%;
  background-color: #f9f9f9;
  // border: 2px solid #e5e5e5;
  border-left: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
