.footer {
  padding-top: 50px;
  padding-bottom: 45px;
  border-bottom: 2px solid #ededed;
}

.copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 13px;
  color: #848484;
}
