.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.img-wrap-header {
  width: 41px;
  height: 41px;
}

.img {
  width: 100%;
  height: auto;
}

.name-company {
  margin-left: 10px;
  font-family: 'nunito';
  font-size: 31px;
  font-weight: 600;
  color: #6d6e70;
  text-transform: uppercase;
}
