.icon-restorative-community {
  width: 58px;
  height: 58px;
  margin: 0 auto;
}

.section-short-description {
  text-align: center;
}

.subtitle-wrap {
  padding-top: 35px;
  padding-bottom: 32px;
}
