.container
  .row.pt-75.pb-30
    .col-lg-8
      h3.subtitle-type-c Наши проекты
      p.text.text--super-light-coloured-small
        | Brief details of new and popular projects. To view full listings, you will be required to sign up and become a member.
    .col-lg-4.align-self-center.flex-cont-justify-content-end
      +button-type-d("Подробнее")
  .row.justify-content-center
    .col-lg-4
      +card("1", "Жизнь в центре", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "70", "7", "#")
    .col-lg-4
      +card("2", "Поляна", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "70", "7", "#")
    .col-lg-4
      +card("3", "Досуг", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "70", "7", "#")
