.container
  .row.pt-75.pb-30
    .col-lg-8
      h3.subtitle-type-c Наши проекты
      p.text.text--super-light-coloured-small
        | Brief details of new and popular projects. To view full listings, you will be required to sign up and become a member.
    .col-lg-4.align-self-center.flex-cont-justify-content-end
      +button-type-d("Подробнее")
