.detailed-description
  .detailed-description__left-bg.pl-123
    .detailed-description__icon
      include ../../assets/svg/armchair.svg
    .detailed-description__text-cont
      h2.detailed-description__title Досуг
      p.text.text--small
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto hic quod ducimus aut, deserunt dolores nam eveniet minus sequi accusantium ea magnam qui.
  .detailed-description__right-bg.pr-123
    .detailed-description__icon
      include ../../assets/svg/purse.svg
    .detailed-description__text-cont
      h2.detailed-description__title Социальная адаптация
      p.text.text--small
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto hic quod ducimus aut, deserunt dolores nam eveniet minus sequi accusantium ea magnam qui.
