.detailed-description
  .detailed-description__left-bg.pl-123
    .detailed-description__icon
      include ../../assets/svg/armchair.svg
    .detailed-description__text-cont
      h2.detailed-description__title Досуг
      p.text.text--small.height-cont-115px
        | В добровольном восстанавливающем сообществе человек так же учиться проводить свое свободное время.
      ul.detailed-description__list-wrap
        li.detailed-description__list.text.text--small В выходные дни есть порядок просмотра назидающих фильмов.
        li.detailed-description__list.text.text--small Предоставляется литература для чтения.
        li.detailed-description__list.text.text--small По желанию человека происходит индивидуальное общение.
      .pt-7
        +button-type-b("Подробнее")
  .detailed-description__right-bg.pr-123
    .detailed-description__icon
      include ../../assets/svg/purse.svg
    .detailed-description__text-cont
      h2.detailed-description__title Социальная адаптация
      p.text.text--small.height-cont-115px
        | После окончания курса восстановления участник может остаться в восстанавливающем сообществе в статусе добровольца. Такая деятельность позволяет ему более осознанно принять решение о дальнейшем выборе жизненного пути. Так же, по желанию человека, предоставляем рабочие места.
      .pt-7
        +button-type-c("Подробнее")
