footer.footer
  .container
    .row
      .col-lg-4.flex-cont-center
        .img-wrap-header
          img.img(src="assets/img/logo/logo.png")
        span.name-company Миротворец
      .col-lg-6.flex-cont-center
        +nav([{title:'главная', link:'#'}, {title:'о нас', link:'#'}, {title:'о реабилитации', link:'#'}, {title:'контакты', link:'#'}, {title:'еще ссылка', link:'#'}])
      .col-lg-2
        +button-oval('кнопка')
.container
  .row.justify-content-center
    .copyright Copyright &copy; 2014 - 2019 "АНО" Миротворец
