header.header
  .container
    .row
      .col-lg-4.flex-cont
        .img-wrap-header
          img.img(src="assets/img/logo/logo.png")
        span.name-company Миротворец
      .col-lg-8 Десять колонок
