include ../mixins/mixins.pug

header.header
  .container
    .row
      .col-lg-4.flex-cont-center
        .img-wrap-header
          img.img(src="assets/img/logo/logo.png")
        span.name-company Миротворец
      .col-lg-6.flex-cont-center
        +nav([{title:'главная', link:'index.html'}, {title:'о нас', link:'#restorative-community'}, {title:'о реабилитации', link:'#rehabilitation-map'}, {title:'контакты', link:'contacts.html'}, {title:'блог', link:'blog.html'}])
      .col-lg-2
        +button-oval('кнопка')
