include ../mixins/mixins.pug

header.header
  .container
    .row
      .col-lg-4.flex-cont
        .img-wrap-header
          img.img(src="assets/img/logo/logo.png")
        span.name-company Миротворец
      .col-lg-6.flex-cont
        +nav([{title:'главная', link:'#'}, {title:'о нас', link:'#'}, {title:'о реабилитации', link:'#'}, {title:'контакты', link:'#'}, {title:'еще ссылка', link:'#'}])
      .col-lg-2
        +button-oval('кнопка')
