.bg-color-type-a
    .container
      .row.align-items-center.pt-65
        .col-lg-12
          h3.subtitle-type-b Благодарим за помощь:
          p.text.text--light-coloured
            | 1. ООО «Универсал-Тюмень» Мартюченко Олеся Владимировна
            br
            | 2. ООО « Трейд Коммерц»  Округин Виктор Николаевич
            br
            | 3. ООО «Магнет Профит мебель» Запотицкая Татьяна Викторовна
            br
            | 4. MOON-диваны Мальгинова Татьяна Николаевна
            br
            | 5. И.П. «Джафаров»  Джафаров Джафар Юсиф Оглы
            br
            | 6. ООО ПК «Мебель ГРУПП» Ачинович Ирина Федоровна
            br
            | 7. «Аква Марин» Котюх Марина Иосифовна
            br
            | 8. ТРО ВОО «Молодая гвардия Единой России» руководитель организации Сбитнев Владимир Дмитриевич руководитель проекта Ведерникова Елена Игоревна
            br
            | 9. ООО «Сладушка» Марат Карленович
            br
            | 10. «Амодей.ru» - карнавальная продукция Бекшаев Дмитрий Геннадьевич
            br
            | 11. ООО «Караваево» Треногин Алексей Владимирович
            br
            | 12. ООО «Игры разума» Филипова Оксана Анатольевна
            br
            | 13. ООО «Цементсервис» Доронин Сергей Алексеевич
            br
            | 14. ООО «КРИММ» Рязанов Валерий Геннадьевич
            br
            | 15. Магазин «FUN DRIVE» Кузьмин Кирилл Сергеевич
            br
            | 16. ООО «Салют 72» Андрей Юрьевич
