.rehabilitated-bg
  .container
    .row.justify-content-center.pt-100
      h2.title-type-b Уже прошли реабилитацию и социальную адаптацию
      p.text.text--light-coloured-type-b
        | One of the challenges in networking is everybody thinks it's making cold calls to strangers. Actually, it's the people who already have strong trust relationships with you
    .row.justify-content-between.pt-75
      .col-lg-6.flex-cont-justify-content-center
        div
          +speech("О реабилитации", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.")
          .speech__avatar-wrap
            img(src="assets/img/rehabilitated/avatar-1.jpg").speech__avatar-photo
      .col-lg-6.flex-cont-justify-content-center
        div
          +speech("О реабилитации", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et dolore magna aliqua.")
          .speech__avatar-wrap
            img(src="assets/img/rehabilitated/avatar-2.jpg").speech__avatar-photo
