.container
  #tabs-wrap.flex-cont-between.pt-130.general-tab-wrapper-border-bottom
    .tabs(data-tab-1)
      .tabs__icon-circle.tabs__icon-circle--active 1
      .tabs__title С чего начать
    .tabs(data-tab-2)
      .tabs__icon-circle 2
      .tabs__title Путь восстановления
    .tabs(data-tab-3)
      .tabs__icon-circle 3
      .tabs__title Новая жизнь
  #tab-content-1.section-toggle.section-toggle--active
    .row.align-items-center.pt-65.pb-75
      .col-lg-3
        .tab-description-icon-wrap
          include ../../assets/svg/glasses.svg
      .col-lg-9.align-self-start.pl-105
        h3.subtitle-type-b.ml-25 Сделай первый шаг!
        p.text.text--light-coloured
          |Если ты устал и не видишь выхода из своей ситуации, если хочешь что то изменить, звони нам , мы поможем!  Тел:
  #tab-content-2.section-toggle
    .row.align-items-center.pt-65.pb-75
      .col-lg-3
        .tab-description-icon-wrap
          include ../../assets/svg/services.svg
      .col-lg-9.align-self-start.pl-105
        h3.subtitle-type-b.ml-25 Качественные изменения!
        p.text.text--light-coloured
          |В процессе программы восстановления, человек учиться адаптироваться к новой трезвой жизни. Люди учатся жить в трезвом коллективе. Привыкают к труду. Учатся с пользой проводить свободное время. Проводятся беседы, как душевные, так и психологического характера. Со временем люди открываются, идут на контакт, рассказывают о проблемах.
  #tab-content-3.section-toggle
    .row.align-items-center.pt-65.pb-75
      .col-lg-3
        .tab-description-icon-wrap
          include ../../assets/svg/sun.svg
      .col-lg-9.align-self-start.pl-105
        h3.subtitle-type-b.ml-25 Возвращение в жизнь!
        p.text.text--light-coloured
          |Прежде всего человек попадает в другое общество- общество трезвых людей. В добровольном восстанавливающем сообществе есть свои правила и распорядок дня. Соблюдая режим, человек уже дисциплинирует себя, что не мало важно. Постепенно люди отвыкают от прежнего образа жизни. У них появляется простое желание жить полноценной жизнью, а не существовать. Начинаем совместно восстанавливать здоровье( походы к врачу, занятие спортом). Воплощается в жизнь процесс восстановления документов. Для большинства участников сообщества центральной составляющей социального статуса является статус трудовой, соответственно существенную составляющую процесса составляет трудовая деятельность, которая обеспечивает восстановление способности человека к систематическому труду.
