.rehabilitated-bg
  .container
    .row.justify-content-center.pt-100
      h2.title-type-b Уже прошли реабилитацию и социальную адаптацию
      p.text.text--light-coloured-type-b
        | В этом разделе опубликованы отзывы ребят, которые уже прошли реабилитацию и адаптацию.
    .row.justify-content-between.pt-75
      .col-lg-6.flex-cont-justify-content-center
        div
          +speech("О реабилитации", "Я потерял всякую надежду на свободу, но благодаря ребятам приобрел возможность начать все сначала!")
          .speech__avatar-wrap
            img(src="assets/img/rehabilitated/avatar_1.jpg").speech__avatar-photo
      .col-lg-6.flex-cont-justify-content-center
        div
          +speech("О реабилитации", "Всю мою жизнь я видел только предательство и зло, но попав в этот коллектив увидел много любви и надежды!")
          .speech__avatar-wrap
            img(src="assets/img/rehabilitated/avatar_3.jpg").speech__avatar-photo
