.container
  .sections
    .icon-restorative-community
      include ../../assets/svg/shape.svg
    .section-short-description
      .subtitle-wrap
        h2.subtitle Восстанавливающее сообщество
      p.text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      p.text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
