.container
  .sections
    .icon-restorative-community
      include ../../assets/svg/shape.svg
    .section-short-description
      .subtitle-wrap
        h2.subtitle Добро пожаловать на наш официальный сайт:
      p.text
        | Миротворец  был основан в 2012 году. Добровольное восстанавливающее сообщество « Миротворец»-это проект, основной целью которого является помощь людям, попавшим в трудную жизненную ситуацию. Находящихся в алкогольной или наркотической зависимости.
      p.text
        | Мы убеждены, что выйти из этих проблем можно, и поэтому делаем все, что в наших силах, чтобы оградить наших близких, друзей, знакомых, наших детей от этой страшной беды.
      p.text
        | Мы предоставляем , страдающим зависимостями от наркотиков и алкоголя, людям, находящимся в трудных жизненных ситуациях возможность присоединиться к нашему сообществу для того что бы совместно победить эту проблему. Обрести смысл трезвой жизни и научиться жить без наркотиков и алкоголя. Полноценно учиться, работать, создавать семьи.
      p.text
        | Основным принципом является добровольное прохождение программы. Одним из залогов успеха является возможность вырваться из старого коллектива и попасть в коллектив в котором люди совместно трудятся над своим бедующим учась проходить трудности жизни без алкоголя и наркотиков!   Мы понимаем алкоголизм и наркоманию, как нарушение целостности человека, как пагубный образ жизни, который привел его к потере здоровья, семьи и друзей. Находясь в сообществе человек начинает в корне менять свой образ жизни, учиться планировать, ставить и достигать цели, брать и нести ответственность. Процесс восстановления не простой, но уровень сложности определяет сама жизнь, ведь когда человек выйдет за пределы сообщества, то он должен быть полностью готов к жизни в обществе. Такой подход к восстановлению целостен и отображает жизнь во всей ее полноте.
