.background-full-picture
  .block-shadow-slider
  .container
    .row
      .col-lg-12
        h1.main-title В трудной ситуации может оказаться каждый, помни об этом!
        h2.subtitle-slider Добровольное Восстанавливающее Сообщество
    .row
      .col-lg-12
        +button-type-a('связаться')
