.background-full-picture
  .block-shadow-slider
  .container
    .row
      .col-lg-12
        h1.main-title Здесь будет главный заголовок
        h2.subtitle-slider Здесь подзаголовок
    .row
      .col-lg-12
        +button-type-a('связаться')
