extends ../layouts/main.pug

block variables
  - var title= "Блог"

block content
  include ../sections/slider.pug
  .bg-color-type-a.pt-65.pb-65
    .container
      .row.pb-30
        +card-horizontal("1", "Жизнь в сообществе", "Совсем  недавно 12.11.2019г.. в нашем сообществе был праздник. Официальное открытие нового дома, для возможности размещения большего количество желающих восстановиться людей. Было много гостей, в том числе и с СРЦ «Курганский», просто собрались все добровольцы, которые принимали и принимают участие в нашем проекте по спасению людей. Ребята показывали сценку, рассказывали, как и с чего начинался наш проект. Люди общались, делились впечатлениями, знакомились. И конечно же не обошлось без праздничного торта и замечательного большого стола с шашлыком и салатами. Выражаем огромную благодарность всем гостям, участникам и нашим спонсорам, без которых этого праздника не получилось бы. Спасибо!!!", "70", "7", "full-news-1.html")
      .row.pb-30
        +card-horizontal("2", "Точки раздачи питания:", "Каждый день, в определенное время, мы раздаем еду обездоленным, неимущим людям. Со временем люди открываются, идут на контакт, у некоторых появляется желание иметь полноценную жизнь, стать признанным  в обществе, полноправным гражданином, и просто –счастливым человеком. Всем желающим мы помогаем попасть в реабилитационные центра либо восстанавливающие сообщества, помогаем восстановить документы и вернуться к полноценной жизни.", "70", "7", "full-news-2.html")
      .row.pb-30
        +card-horizontal("3", "Досуг:", "В добровольном восстанавливающем сообществе человек так же учиться проводить свое свободное время. 1. В выходные дни есть порядок просмотра назидающих фильмов. 2. Предоставляется литература для чтения. 3. По желанию человека происходит индивидуальное общение.", "70", "7", "full-news-3.html")
  include ../sections/footer-content.pug
