extends ../layouts/main.pug

block variables
  - var title= "Жизнь в центре"

block content
  include ../sections/slider.pug
  .bg-color-type-a
    .container
      .row.align-items-center.pt-65
        .col-lg-4
          .img-wrap-radius
            img(src="assets/img/card-bg/1.jpg", alt="")
        .col-lg-8
          h3.subtitle-type-b Жизнь в центре:
          p.text.text--light-coloured
            | Совсем  недавно 12.11.2019г.. в нашем сообществе был праздник. Официальное открытие нового дома, для возможности размещения большего количество желающих восстановиться людей. Было много гостей, в том числе и с СРЦ «Курганский», просто собрались все добровольцы, которые принимали и принимают участие в нашем проекте по спасению людей. Ребята показывали сценку, рассказывали, как и с чего начинался наш проект. Люди общались, делились впечатлениями, знакомились. И конечно же не обошлось без праздничного торта и замечательного большого стола с шашлыком и салатами.Выражаем огромную благодарность всем гостям, участникам и нашим спонсорам, без которых этого праздника не получилось бы. Спасибо!!!
  include ../sections/footer-content.pug
