extends ../layouts/main.pug

block variables
  - var title= "Главная"

block content
  include ../sections/slider.pug
  include ../sections/restorative-community.pug
  include ../sections/rehabilitation-map-slider.pug
  include ../sections/detailed-description.pug
  include ../sections/blog.pug
  include ../sections/rehabilitated.pug
